/*CONTENT*/
.content{
    margin: 30px 50px;
    background-color: #3a3a3a;
    height: auto;
}
/*GALERIA*/

h1{
    font-size: 50px;
    color:#DEC801;
    width: 90%;
    text-align: end;
    padding-top: 50px;
    margin: auto;
}


/*IMAGENS*/

.l-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 60px auto;
}

.img-gal {
    margin: 50px auto;
    width: 400px;
    height: 300px;
}

.borda {
    border: 5px solid black;
}

@media (max-width: 770px) {
    h1 {
        text-align: center;
    }

    .img-gal {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 450px) {
    .img-gal {
        width: 60vw;
        height: auto;
    }

    .l-flex {
        margin: 30px auto;
    }
}
/*Pagina atual em destaque*/
#pag-atual{
    color:#DEC801;
  }
  