/*CONTENT*/
.content{
    margin: 30px 50px;
    background-color: #3a3a3a;
}
/*GALERIA*/

.gal{
    padding-top: 30px;
    padding-left: 990px;
    font-size: 50px;
    color:#DEC801;
}

/*IMAGENS*/
.img-1{
    margin-top: 100px;
    margin-left: 110px;
    margin-bottom: 50px;
}

.img-2{
    margin-top: 100px;
    margin-left: 60px;
    margin-bottom: 50px;
}

.img-3{
    margin-top: 100px;
    margin-left: 60px;
    margin-bottom: 50px;
}

.img-4{
    margin-top: 50px;
    margin-left: 110px;
    margin-bottom: 50px;
}

.img-5{
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 50px;
}

.img-6{
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 50px;
}

.img-7{
    margin-top: 50px;
    margin-left: 110px;
    margin-bottom: 50px;
}

.img-8{
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 50px;
}

.img-9{
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 50px;
}

.borda {
    border: 5px solid black;
}