* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2e2e2e;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

/*CABEÇALHO*/
.bg-black {
    background-color: black;
}

.cabecalho {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 100px);
    margin: auto;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    width: 250px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: .3s;
}

.menu li :hover {
    color:  #DEC801;
    transition: .4s;
}

/*RODAPÉ*/
.rodape {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

/*CONTENT*/
.content{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50PX;
    margin-right: 50px;
    background-color: #3a3a3a;
}
/*GALERIA*/

.gal{
    padding-top: 30px;
    padding-left: 990px;
    font-size: 50px;
    color:#DEC801;
    
}


/*IMAGENS*/
.img-1{
    margin-top: 100px;
    margin-left: 110px;
    margin-bottom: 50px;
    border: 5px solid black;
}

.img-2{
    margin-top: 100px;
    margin-left: 60px;
    margin-bottom: 50px;
    border: 5px solid black;
}

.img-3{
    margin-top: 100px;
    margin-left: 60px;
    margin-bottom: 50px;
    border: 5px solid black;
}

.img-4{
    margin-top: 50px;
    margin-left: 110px;
    margin-bottom: 50px;
    border: 5px solid black;
}

.img-5{
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 50px;
    border: 5px solid black;
}

.img-6{
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 50px;
    border: 5px solid black;
}

.img-7{
    margin-top: 50px;
    margin-left: 110px;
    margin-bottom: 50px;
    border: 5px solid black;
}

.img-8{
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 50px;
    border: 5px solid black;
}

.img-9{
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 50px;
    border: 5px solid black;
}

