/*Edição das imagens*/
.img-camera {
    height: 60vh;
    margin: 30px auto;
}

.img-pessoa {
    height: 50vh;
    margin: 30px auto;
}

.conj-img {
    width: 100vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-ex {
    border: 5px solid black;
    margin: 40px auto;
}

/*flexbox*/
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*Estilos dos containers*/
.sobre-mim,
.sobre-trabalho {
    background-color: #3A3A3A;
    width: 92vw;
    margin: 20px auto;
}

.content1 {
    height: auto;
    margin: 30px;
}

.content2 {
    height: auto;
    margin: 50px;
    padding: 20px;
}


/*Estilos de texto*/
h2 {
    margin-bottom: 30px;
}

.txt {
    background-color: #313131;
    width: 50vw;
    height: 60vh;
    font-size: 20px;
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: justify;
    margin: 30px auto;
}

.txt2 {
    height: 50vh;
}

@media (max-width: 1445px) {
    .sobre-mim {
        width: 75vw;
    }

    .txt2 {
        order: -1;
    }
}

@media (max-width: 1270px) {

    .sobre-trabalho {
        width: 75vw;
    }
}